<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> YusufAli Hastanesi</title>

    <link rel="shortcut icon" href="~/free-hospital-medical/assets/images/fav.jpg">
    <link rel="stylesheet" href="~/free-hospital-medical/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/free-hospital-medical/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="~/free-hospital-medical/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/free-hospital-medical/assets/css/style.css" />

       <link rel="stylesheet" href="~/testimonial-slider-code/css/styles.css">
    <link rel="stylesheet" href="~/testimonial-slider-code/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/testimonial-slider-code/css/bootstrap.min.css">

</head>