@model UpdateBirimDto
@{
    ViewData["Title"] = "UpdateBirim";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<form method="post">
        <input type="hidden" asp-for="BirimID" />
        <label>Birim Adı</label>
        <input type="text" asp-for="BirimAdi" class="form-control" />
        <span  asp-validation-for="BirimAdi" class="text-info"></span>
        <br />

        <button class="btn btn-primary">Birim Güncelle</button>
</form>
