 <!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Randevu Paneli</h2>
            <ul>
                <li> <a href="/Default/Index/"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i></li>
                <li> <a href="/Randevu/AddRandevu/"><i class="fas fa-hospital"></i> Randevu Al</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->