@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
                <div class="row">


                    <div class="col-md-6 col-sm-12 doc-img">
                        <img src="~/free-hospital-medical/assets/images/Talha.png" alt="">
                    </div>
                    <div class="col-md-6 col-sm-12 doc-det">
                        <h2>@localizer["Merhaba ben Doktor Talha Baş"]</h2>
                        <span>Tokatta Klinik Psikolog</span>

                    <p>@localizer["Ben dünyanın en iyi doktoruyum"] </p>

                        <h4>@localizer["Buradan Ulaşabilirsiniz"] : +90 530 902 16 58</h4>
                    </div>
                </div>
            </div>

        </div>

    </div>