
@model List<ResultDoktorDto>

<section class="our-team">
    <div class="container">
        <div class="inner-title">
          <u><h2><a name="Doktorlarimiz">Doktorlarımız</a></h2> </u>
       

        </div>
        <div class="row team-member">
        @foreach(var item in Model)
        {
            
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img src="@item.DoktorResim" />
                        </div>
                        <div class="detfs">
                            <p>@item.DoktorName </p>
                          

                            
                            <p>@item.DoktorTelefon</p>

                            <p>@item.DoktorMail</p>


                        </div>
                    </div>
                </div>



           

        }
        </div>


    </div>
</section>