@model List<ResultHastaneDto>

<section class="key-features">
    <div class="container">
        <div class="inner-title">

            <u><h2><a name="Hastanelerimiz">Hastanelerimiz</a></h2> </u>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="single-key">

                        <img src="@item.HastaneResim"/>
                       
                        <h5>@item.HastaneAdi</h5>
                        <p>@item.HastaneTelefon</p>
                        <p>@item.HastaneAdresi</p>
                    </div>
                </div>



            }
        </div>







    </div>

</section>
