<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 left-item">
                    <ul>
                        <li><i class="fas fa-envelope-square"></i>eren.yigit@ogr.sakarya.edu.tr</li>
                        <li><i class="fas fa-phone-square"></i> +90 530 902 16 58</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div id="nav-head" class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 nav-img">
                    <img src="~/free-hospital-medical/assets/images/logo.jpg" alt="">
                    <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                </div>
                <div id="menu" class="col-md-9 d-none d-md-block nav-item">
                    <ul>
                        <li><a href="."></a></li>
                        <li><a href="."></a></li>
                        <li><a href="."></a></li>
                        <li><a href="/Default/Index/">Anasayfa</a></li>
                        <li><a href="/Randevu/Index/">Randevu Al</a></li>
                        <li><a href="/Blog/Index/">Hastanelerimiz</a></li>
                        <li><a href="contact_us.html">İletişim</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</header>