@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 left-item">
                    <ul>
                        <li><i class="fas fa-envelope-square"></i>eren.yigit@ogr.sakarya.edu.tr</li>
                        <li><i class="fas fa-phone-square"></i> +90 530 902 16 58</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div id="nav-head" class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 nav-img">
                    <img src="~/free-hospital-medical/assets/images/logo.jpg" alt="">
                    <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                </div>
                <div id="menu" class="col-md-9 d-none d-md-block nav-item">
                    <ul>
                        <li><a href="."></a></li>
                        <li><a href="."></a></li>
                        <li><a href="."></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>

                        <li><a href="/Default/Index/">@localizer["Anasayfa"]</a></li>
                       
                            <li><a href="/Login/Index/">@localizer["Randevu Al"]</a></li>
                       
                        
                  
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                <span>Dil Seç</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a asp-controller ="Default" asp-action="Index">Türkçe </a><img src="~/turkey.png" /></i></li>
                                        <li><a asp-controller="Default" asp-action="Index" asp-route-culture="en">English </a><img src="~/english.png" /></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    
                            <li><a href="/Login/Index/">Giriş Yap</a></li>
                    
                       
                    </ul>
                </div>
            </div>

        </div>
    </div>

</header>


