<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
             <li>
                <a href="/Doktor/" aria-expanded="false">
                    <i class="fa fa-user-md"></i><span class="nav-text">Doktorlar</span>
                </a>
            </li>
            <li>
                <a href="/Hastane/" aria-expanded="false">
                    <i class="fa fa-hospital-o"></i><span class="nav-text">Hastanelerimiz</span>
                </a>
            </li>
            <li>
                <a href="/Hizmet/" aria-expanded="false">
                    <i class="fa fa-medkit"></i><span class="nav-text">Hizmetlerimiz</span>
                </a>
            </li>
                        <li>
                 <a href="/Birim/" aria-expanded="false">
                    <i class="fa fa-stethoscope"></i><span class="nav-text">Birimlerimiz</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>