@using HastaneWeb.EntityLayer.Concrete;
@model Randevu
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")


<body>

    <!-- ################# Header Starts Here#######################--->
    @await Component.InvokeAsync("_HeaderPartial")

    @await Component.InvokeAsync("_RandevuCoverPartial")



<div class="row contact-rooo no-margin">
    <div class="container">
        <div class="row">

           <form method="post" asp-action="AddRandevu">
        <label>Hasta Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />


        <label>Hastan Telefonu</label>
        <input type="text" asp-for="TelNo" class="form-control" />
        <br />
        <label>Randevu Tarihi</label>
        <input type="datetime-local" asp-for="RandevuTarihi" class="form-control" />
        <br />
        <label>Hasta Şikayeti</label>
        <input type="text" asp-for="Sikayet" class="form-control" />
        <br />

    <label>Doktor Adı</label>

    <select asp-for="DoktorID" class="form-control" asp-items="ViewBag.Doktorlar"></select>
    <span asp-validation-for="DoktorID" class="text-danger"></span>




        <button class="btn btn-primary">Randevu Al</button>
</form>



        </div>
    </div>

</div>








    <!-- ################# Footer Starts Here#######################--->
    @await Component.InvokeAsync("_Footer")



</body>

@await Component.InvokeAsync("_Script")


</html>