@using HastaneWeb.EntityLayer.Concrete;
@model Randevu

<div class="row contact-rooo no-margin">
    <div class="container">
        <div class="row">

           <form method="post" asp-action="RandevuEkle">
        <label>Hasta Adı</label>
                <input type="text" asp-for="AppUser.Name" class="form-control" />
        <br />


        <label>Hastan Telefonu</label>
        <input type="text" asp-for="TelNo" class="form-control" />
        <br />
        <label>Randevu Tarihi</label>
        <input type="text" asp-for="RandevuTarihi" class="form-control" />
        <br />
        <label>Hasta Şikayeti</label>
        <input type="datetime-local" asp-for="Sikayet" class="form-control" />
        <br />

    <label>Doktor Adı</label>

    <select asp-for="DoktorID" class="form-control" asp-items="ViewBag.Doktorlar"></select>
    <span asp-validation-for="DoktorID" class="text-danger"></span>




        <button class="btn btn-primary">Randevu Al</button>
</form>



        </div>
    </div>

</div>