@using HastaneWeb.EntityLayer.Concrete;
@model Doktor
@{
   
    ViewData["Title"] = "AddDoktor";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" asp-action="AddDoktor">
        <label>Doktor Adı</label>
        <input type="text" asp-for="DoktorName" class="form-control" />
        <br />


        <label>Doktor Telefonu</label>
        <input type="text" asp-for="DoktorTelefon" class="form-control" />
        <br />
        <label>Doktor Maili</label>
        <input type="text" asp-for="DoktorMail" class="form-control" />
        <br />
        <label>Doktor Giriş Saati</label>
        <input type="datetime-local" asp-for="GirisTarih" class="form-control" />
        <br />
        <label>Doktor Çıkış Saati</label>
        <input  type="datetime-local" asp-for="CikisTarih" class="form-control" />
        <br />
    <label>Birimi</label>
  
    <select asp-for="BirimID" class="form-control" asp-items="ViewBag.Birimler"></select>
    <span asp-validation-for="BirimID" class="text-danger"></span>



        <button class="btn btn-primary">Doktor Ekle</button>
</form>

